
.boxbtneffect {
    display: flex;
    justify-content: center;
    align-items: center;
    width:7em;
    height: 30px;
    border: solid rgba(83, 83, 83, 0.3) 1px;
    border-radius: 0 10px 10px 0;
    color: rgb(54, 54, 54);
    background-color: white;
}

.boxbtneffect:hover {
    color: rgb(255, 255, 255);
    background-color:  rgb(173, 173, 173);
} 

.boxbtneffect:active {
    background-color: rgb(105, 105, 105);
} 

.clickboxbtneffect {
    text-decoration: none;
    width: auto;
} 
