.container {
    margin-top: 4em;
    width: 100%;
    height: 90vh; 
    display: grid;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow-y: auto;
}

.subcontainer {
    width: 75em;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pags {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 2em;
}


/* 
.card {
    width: 16em;
    height: 25em;
    background-color: green;
    border-radius: 30px;
    margin:10px ;
    overflow: hidden;
}

.imgs {
    width: 100%;
    height: 12em;
    background-color: aqua;
}

.info {
    width: 100%;
    height: 13em;
    background-color: violet;
}

.title {
    width: 100%;
    height: 4em;
    background-color: gray;
}

.location {
    width: 100%;
    height: 3em;
    background-color: gold;
}

.price {
    width: 100%;
    height: 6em;
    background-color: greenyellow;
    display: flex;
}

.exchange {
    width: 40%;
    height: 100%;
    background-color: brown;
}

.number {
    width: 60%;
    height: 100%;
    background-color: bisque;
} */