 .inputradio {
    opacity: 0;
    position: absolute;
}

.colorrad {
    transition: 0.5s;
}

.colorrad::before{
    content: '';
    position: absolute;
    height: 50%;
    width: 6px;
    left: 0;
    margin-top: -15.8px;
    background-color: blue;
}


.headerfilter li {
    list-style: none;
}

.headerfilter li ul li {
    display: flex;
    padding: 15px 20px;
    background-color: white;
    text-align: center;
    width: 7em;
    height: 1.4em;
    border: solid rgba(83, 83, 83, 0.3) 1px;
    transition: 0.3s;
    color: rgb(54, 54, 54);
}


.headerfilter li a {
    display: block;
    text-align: center;
    width: 7em;
    height: 1em;
    padding: 7px 20px;
    text-decoration: none;
    border: solid rgba(83, 83, 83, 0.3) 1px;
    transition: 0.3s;
    color: rgb(54, 54, 54);
    background-color: white;
}

.verticalfilter {
    position: absolute;
    display: none;
}

.headerfilter li:hover .verticalfilter{
    display: block;

}
