@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


nav {
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  justify-content: left;
  width: 100%;
  height: 4em;
  display: flex;
  align-items: center;
  border-bottom: solid rgba(83, 83, 83, 0.3) 1px;
}

.contentnav {
  display: flex;
  align-items: center;
  background-color: blue;
  height: 100%;
  width: 35em;
}

.subfilter {
  background-color: blueviolet;
  width: 20em;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.filternav {
  display: flex;
  align-items: center;
  background-color: red;
  width: 60%;
  height: 100%;
  /* justify-content: space-between; */
}

.logonav {
  width: 4.5em;
  height: 4em;
  display: flex;
  padding-left: 0.4em;
  padding-top: 1.2em;
}

.logonav img {
  scale: 0.8;
  transform-origin: 0 0;
}

.btnNav {
  color: rgb(54, 54, 54);
  text-decoration: none;
  padding: 1em;
  margin: 0.5em; 
  text-align: center;
  border: solid rgba(83, 83, 83, 0.3) 1px;
  border-radius: 10px;
  transition: 0.3s;
} 

.btnNav:hover {
  color: rgb(252, 13, 13);
  transition: 0.3s;
} 

